# Compiled Object files
*.o

# Executables
*.out
*.app
*.exe
Thrawn

# Code Editors
*.vscode
*.idea

# Compressed Files
*.zip

# MacOS
*.DS_STORE

*.nnue

# Local tuning binaries/books
tools/Thrawn
tools/Thrawn.exe
tools/fastchess
tools/fastchess.exe
tools/*.epd
tools/*.pgn
